---
import { PUBLIC_CDN_URL } from "astro:env/server";
import type { InferResponseType } from "hono/client";
import Latest from "../../components/Latest";
import Layout from "../../layouts/Layout.astro";
import { getServerClient } from "../../libs/api-client";

const env = Astro.locals.runtime.env;
const client = getServerClient(env);
const cdn = PUBLIC_CDN_URL;

const deviceParam = Astro.url.searchParams.get("device");
const isDesktop = deviceParam === "desktop";

type LatestScreenshotsData = InferResponseType<typeof client.latest.$get>;

let data: LatestScreenshotsData | null = null;
let error: string | null = null;

try {
  const res = await client.latest.$get({
    query: {
      device: isDesktop ? "desktop" : "mobile",
    },
  });

  if (!res.ok) {
    error = `Failed to fetch latest screenshots: ${res.status}`;
  } else {
    data = await res.json();
    if (data && data.length === 0) {
      error = "No latest screenshots found.";
    }
  }
} catch (e) {
  console.error(e);
  error = "Proxy failed to fetch latest data";
}
---

<Layout title="News in the Last Hour">
  <div class="mb-8">
    <Latest
      client:load
      initialData={data}
      initialError={error}
      cdn={cdn}
      initialDevice={isDesktop ? "desktop" : "mobile"}
    />
  </div>
</Layout>
